*{
    margin: 0;
    padding: 0;
}

/*body, nav, div {
    border: 1px solid black;
}*/

body, input, button {
    font-size: 14px;
    font-family: arial, sans-serif;
}

body {
    padding: 10px;
    margin-top: 10px
    text-align: center;
}

nav {
    display: grid;
    grid-template-columns: 1fr 1fr 15fr;
}

.common-text {
    padding: 5px;
    margin: 0 5px;
    color: #202124;
}

#content {
    display: grid;
    grid-template-columns: 15fr 1fr 1fr 1fr 1fr;
    margin: 0;
    padding: 0;
    align-content: center;
    text-align: left;
}

.text-link{
    display: block;
    text-align: center;
    margin-top: 0.4em;
}

.text-link:hover {
    cursor: pointer;
    text-decoration: underline;
}

.img-link {
    text-align: center;
}

#dots {
    align-content: center;
    justify-content: center;
}

#dots-menu {
        border: 2px solid white;
        margin-top: 0.1em;;
        border-radius: 50%;
        height: 1.5em;
        width: 1.5em;
        padding: 2px;
}

#dots-menu:hover {
    cursor: pointer;
    background-color: lightgray;
    border: 2px solid lightgray;
}

#bio-img {
    display: flex;
    border: 2px solid white;
    border-radius: 50%;
    height: 1.8em;
    width: 1.8em;
}

#bio-img:hover {
    cursor: pointer;
    border: 2px solid lightgray;
}

main {
    display: block;
    margin-top: 5em;
    text-align: center;
}

#banner img {
    height: 11em;
    width: auto;
}

#banner {
    padding-bottom: 1em;
}

#main-search {
    display: grid;
    grid-template-columns: 2fr 5fr 2fr;
}
#search-tools {
    display:block;
}

#search-field {
    width: 100%;
    height: 2.7em;
    display: grid;
    grid-template-columns: 1fr 9fr 1fr;
    align-content:stretch;
    border: 1px solid lightgray;
    border-radius: 25px;
    background: transparent;
    margin-bottom: 1em;
}

#search-field:hover {
        box-shadow: 2px 2px lightgray;
}

#search-field input {
    width: 100%;
    height: 100%;
    border: transparent;
    background: transparent;
}

#search-buttons button {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    padding: 10px;
    margin: 4px;
}

#search-buttons button:hover {
    cursor: pointer;
    border: 1px solid lightgray;
}

#language-option {
    margin-top: 2em;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

#top-footer, #bottom-footer {
    display: block;
    width: 100%;
    padding: 12px 0px 12px 0px;
    background-color: #f8f9fa;
    border: 1px solid lightgray;
}

#bottom-footer {
    display: grid;
    grid-template-columns: 1fr 3fr 2fr 2fr 2fr;
}

#bottom-footer div {
    text-align: center;
}

#bottom-left, #bottom-right {
    display: flex;
    justify-content: space-around;
}

